@import '../variables.scss';


.about{
    word-spacing: 5px;
    font-size: 1.1em;
    min-height: 100vh;
  }
  
  .about .my-name{
    color: $primaryColor;
  }
  
  .about .label-icon span{
    background-color: $primaryColor;
    margin-top: 3px;
  }
  
  .about .label{
    font-weight: 600;
  }
  
  .about .button{
    font-size: 1.1em;
    font-weight: 300;
    background-color: $primaryColor;
    border-width: 0;
  }
  