@import '../variables.scss';


.about{
    font-size: 1.1em;
    min-height: 100vh;
    background-color:  $page-bg-color;
  }
  
  .about .my-name{
    color: $primary;
  }
  
  .about .label-icon span{
    background-color: $primary;
  }
  
  .about .label{
    font-weight: 600;
  }
  
  .about .button{
    font-size: 1.1em;
    font-weight: 300;
  }
  