@import '../variables.scss';


.contact{
    font-size: 1.1em;
    min-height: 100vh;
    background-color: $page-color;
  }
  
  .contact .label-icon span{
    background-color: $primaryColor;
  }
  
  .contact .label{
    font-weight: 600;
  }
  
  .contact .button{
    font-size: 1.1em;
    font-weight: 300;
  }
  