@import '../variables.scss';


.home{
  min-height: 100vh;
}

.home .name{
    font-size: 5em;
    font-family: Sacramento, cursive;
  }
  
.home .quote{
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }
  