@import '../variables.scss';


/* Start style sidebar scrollbar */
$scrollbarBG: transparent;
$thumbBG: transparent;

.side-bar::-webkit-scrollbar {
  width: 10px;
}
.side-bar {
  scrollbar-width: thin;
  scrollbar-color: $thumbBG $scrollbarBG;
}
.side-bar::-webkit-scrollbar-track {
  background: $scrollbarBG;
}
.side-bar::-webkit-scrollbar-thumb {
  background-color: $thumbBG;
  border-radius: 6px;
  border: 3px solid $scrollbarBG;
}
/* End style sidebar scrollbar */


.side-bar{
    height: 100vh;
    top: 0;
    box-shadow: 0 0 20px rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 400;
    background-color: inherit;
    overflow-y: auto;
  }

  /* Lazy load placeholder */
  .lazy-container {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background-color: transparent;
  }
  
  .lazy-container img {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: rgba(black, 0.1);
  }
/* End of Lazy load placeholder*/
  
  .profile-picture{
    overflow: hidden;
    border-radius: 50%;
    max-height: 240px;
    max-width: 240px;
    margin: 0 auto 0 auto;
    border: solid 10px rgba(black, 0.1);
    background-color: transparent;
  }
  
  .nav-links{
    list-style: none;
  }
  
  .nav-links li a{
    outline: none;
    display: block;
    padding: 10px 1px 10px 1px;
  }
  
  .social-media{
    list-style: none;
    text-align: center;
  }
  
  .social-media li .icon{
    transition: all .1s;
  }
  
  .social-media li .icon:hover{
    background-color: $primaryColor;
  }
  