@import '../variables.scss';


.skills-and-tools {
    min-height: 100vh;
}

.skill-details {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgb(243, 243, 243);
    background-color: #fcfcfc;
    transition: background-color .3s, transform .3s, border .3s, box-shadow .3s;
    border: solid 1px #ebebeb;
    transform: translateY(0);
}

.skill-details:hover {
    box-shadow: 15px 15px 15px rgb(231, 231, 231);
    transform: translateY(-5px);
}

.skill-details:hover .skill-header {
    color: $primaryColor;
}

.skill-header {
    background-color: #eeeeee;
    font-size: 1.3em;
    font-weight: 500;
    padding: 5px 5px;
    border-bottom: solid 1px #e2e2e2;
    transition: all .3s;
}

.skill-header .icon-code {
    position: relative;
    top: 4px;
}

.skill-details .skill-body{
    padding: .5rem .5rem 1rem .5rem;
}

.skill-details .skill-body ul {
    list-style: none;
}

.skill-details .skill-body li {
    margin-bottom: 5px;
}