@import '../variables.scss';


.toggle-light-button{
    position: absolute;
    left: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .toggle-light-button .string{
    height: 20px;
    position: relative;
    left: 24px;
    border-left: solid 2px transparent;
    transition: border-color .3s;
  }
  
  .toggle-light-button .string-light-on{
    border-color: rgb(105, 105, 105);
  }
  
  .toggle-light-button .string-light-off{
    border-color: $primaryColor;
  }

  .toggle-light-button .holder-light-on{
    background-color: transparent;
  }
  
  .toggle-light-button .holder-light-off{
    background-color: $primaryColor;
  }

  .toggle-light-button .holder{
    position: relative;
    left: 21px;
    transition: background-color .3s;
    width: 8px;
    height: 2px;
  }
  
  .toggle-light-button .icon-idea{
    width: 50px;
    height: 50px;
    transition: all .3s;
  }
  
  .toggle-light-button .light-on{
    background-color: rgb(75, 75, 75);
    margin-top: -3px;
  }
  
  .toggle-light-button .light-off{
    background-color: $primaryColor;
    margin-top: 7px;
  }