@import './variables.scss';

.nav-toggle{
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: 40000;
}

.nav-toggle .icon-menu{
  width: 40px;
  height: 40px;
}

.side-bar{
  height: 100vh;
  top: 0;
  box-shadow: 0 0 20px rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 400;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.profile-picture{
  overflow: hidden;
  border-radius: 50%;
  max-height: 240px;
  max-width: 240px;
  margin: 0 auto 0 auto;
  border: solid 8px rgb(223, 223, 223);
}

.profile-picture img{
  width: 100%;
  height: 100%;
}

.nav-links{
  list-style: none;
}

.nav-links li a{
  outline: none;
  display: block;
  padding: 10px 1px 10px 1px;
}

.social-media{
  list-style: none;
  text-align: center;
}

.social-media li{
  display: inline-block;
  margin: 0 15px;
}

.social-media li .icon:hover{
  background-color: $primary;
}

.about{
  word-spacing: 5px;
  font-size: 1.2em;
}

.about .label-icon span{
  background-color: $primary;
  margin-top: 3px;
}

.about .label{
  font-weight: 600;
}

.about .button{
  font-size: 1.1em;
  font-weight: 300;
}



.home{

}

.home .name{
  font-size: 5em;
}

.home .quotes{
  font-size: 1.4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.contact{
  word-spacing: 5px;
  font-size: 1.2em;
}

.contact .label-icon span{
  background-color: $primary;
  margin-top: 3px;
}

.contact .label{
  font-weight: 600;
}

.contact .button{
  font-size: 1.1em;
  font-weight: 300;
}



.project-details{
  height: 200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgb(243, 243, 243);
  cursor: pointer;
  background-color: #fcfcfc;
  transition: all .3s;
  border: solid 1px #ebebeb;
}

.project-details:hover {
  box-shadow: 15px 15px 15px rgb(231, 231, 231);
  transform: translateY(-5px);
}

.project-details:hover .project-header {
  color: $primary;
}

.project-header{
  background-color: #eeeeee;
  font-size: 1.3em;
  font-weight: 500;
  padding: 5px 5px;
  border-bottom: solid 1px #e2e2e2;
}





.blog-details{
  word-spacing: 5px;
  height: auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgb(243, 243, 243);
  cursor: pointer;
  background-color: #fcfcfc;
  transition: all .3s;
  border: solid 1px #ebebeb;
}

.blog-details:hover {
  box-shadow: 15px 15px 15px rgb(231, 231, 231);
  transform: translateY(-5px);
}

.blog-details:hover .blog-header {
  color: $primary;
}

.blog-header{
  background-color: #eeeeee;
  font-size: 1.3em;
  font-weight: 500;
  padding: 5px 5px;
  border-bottom: solid 1px #e2e2e2;
}