@import './variables.scss';

$dark-bg: #15202b;

.app-light{
  color: $secondary;
  background-color: white;
  .side-bar{
    background-color: white;
  }
}

.app-dark{
  color: white;
  background-color: $dark-bg;
  .side-bar{
    box-shadow: 1px 0 0 $secondary;
    background-color: $dark-bg;
  }
  .icon{
    background-color: $secondary;
  }

  .line{
    background-color: $secondary;
  }

  .project-details{
    box-shadow: 0 0 0 black;
    border-color: $dark-bg;
    background-color: lighten($dark-bg, 10%);
    .project-header{
      background-color: lighten($dark-bg, 6%); 
      border-color: lighten($dark-bg, 6%); 
    }
  }

  .project-details:hover{
    box-shadow: 0 0 0 black;
  }

  .blog-details{
    box-shadow: 0 0 0 black;
    border-color: $dark-bg;
    background-color: lighten($dark-bg, 10%);
    .blog-header{
      background-color: lighten($dark-bg, 6%);
      border-color: lighten($dark-bg, 6%); 
    }
  }

  .blog-details:hover{
    box-shadow: 0 0 0 black;
  }
}


.nav-toggle{
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: 40000;
}

.nav-toggle .icon-menu{
  width: 40px;
  height: 40px;
}

.side-bar{
  height: 100vh;
  top: 0;
  box-shadow: 0 0 20px rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 400;
  background-color: inherit;
}

a{
  text-decoration: none;
  color: $primaryColor;
}

a:hover{
  text-decoration: none;
  color: darken($primaryColor, 15%);
}

.profile-picture{
  overflow: hidden;
  border-radius: 50%;
  max-height: 240px;
  max-width: 240px;
  margin: 0 auto 0 auto;
  border: solid 8px rgb(211, 211, 211);
  background-color: rgb(211, 211, 211);
}

.profile-picture img{
  width: 100%;
  height: 100%;
}

.nav-links{
  list-style: none;
}

.nav-links li a{
  outline: none;
  display: block;
  padding: 10px 1px 10px 1px;
}

.social-media{
  list-style: none;
  text-align: center;
}

.social-media li{
  display: inline-block;
  margin: 0 15px;
}

.social-media li .icon{
  transition: all .1s;
}

.social-media li .icon:hover{
  background-color: $primaryColor;
}

.about{
  word-spacing: 5px;
  font-size: 1.1em;
}

.about .my-name{
  color: $primaryColor;
}

.about .label-icon span{
  background-color: $primaryColor;
  margin-top: 3px;
}

.about .label{
  font-weight: 600;
}

.about .button{
  font-size: 1.1em;
  font-weight: 300;
  background-color: $primaryColor;
  border-width: 0;
}


.home .name{
  font-size: 5em;
}

.home .quotes{
  font-size: 1.4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.contact{
  word-spacing: 5px;
  font-size: 1.1em;
}

.contact .label-icon span{
  background-color: $primaryColor;
}

.contact .label{
  font-weight: 600;
}

.contact .button{
  font-size: 1.1em;
  font-weight: 300;
}



.project-details{
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgb(243, 243, 243);
  cursor: pointer;
  background-color: #fcfcfc;
  transition: all .3s;
  border: solid 1px #ebebeb;
}

.project-header{
  transition: all .3s;
}

.window-dot{
  width: 12px;
  height: 12px;
  background-color: rgb(165, 165, 165);
  border-radius: 50%;
  display: inline-block;
}

.dot-1-container{
  padding-right: 2px;
}

.dot-2-container{
  padding-left: 2px;
}

.dot-1{
  background-color: rgb(165, 165, 165);
}

.dot-2{
  background-color: $primaryColor;
}

.project-details:hover {
  box-shadow: 15px 15px 15px rgb(231, 231, 231);
  transform: translateY(-5px);
}

.project-details:hover .project-header {
  color: $primaryColor;
}

.project-header{
  background-color: #eeeeee;
  font-size: 1.3em;
  font-weight: 500;
  padding: 5px 5px;
  border-bottom: solid 1px #e2e2e2;
}

.project-header .icon-github{
  position: relative;
  top: 4px;
}




.blog-link, .project-link{
  text-decoration: none;
  color: unset;
  outline: none;
}

.blog-link:hover, .project-link:hover{
  text-decoration: none;
  color: unset;
}

.blog-details{
  word-spacing: 5px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgb(243, 243, 243);
  cursor: pointer;
  background-color: #fcfcfc;
  transition: all .3s;
  border: solid 1px #ebebeb;
}

.blog-header{
  transition: all .3s;
}

.blog-details:hover {
  box-shadow: 15px 15px 15px rgb(231, 231, 231);
  transform: translateY(-5px);
}

.blog-details:hover .blog-header {
  color: $primaryColor;
}

.blog-header{
  background-color: #eeeeee;
  font-size: 1.3em;
  font-weight: 500;
  padding: 5px 5px;
  border-bottom: solid 1px #e2e2e2;
}





.toggle-button{
  position: absolute;
  left: 10px;
  cursor: pointer;
  z-index: 1;
}

.toggle-button .string-light-on{
  height: 20px;
  position: relative;
  left: 24px;
  border-left: solid 2px $secondary;
}

.toggle-button .string-light-off{
  height: 20px;
  position: relative;
  left: 24px;
  border-left: solid 2px $primaryColor;
}

.toggle-button .icon-idea{
  width: 50px;
  height: 50px;
  transition: all .3s;
}

.toggle-button .light-off{
  background-color: $primaryColor;
  margin-top: 5px;
}