.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: rgb(70, 70, 70);
    mask-size: cover;
}

.icon-menu {
    mask: url(icons/open-menu.svg);
}

.icon-search {
    mask: url(icons/magnifying-glass.svg);
}

.icon-tag {
    mask: url(icons/tag.svg);
}

.icon-star {
    mask: url(icons/star.svg);
}

.icon-up-arrow {
    mask: url(icons/up-rrow.svg);
}

.icon-close {
    mask: url(icons/cancel.svg);
}

.icon-user {
    mask: url(icons/user.svg);
}

.icon-twitter{
    mask: url(icons/twitter.svg);
}

.icon-github{
    mask: url(icons/github.svg);
}

.icon-instagram{
    mask: url(icons/instagram.svg);
}

.icon-linkedin{
    mask: url(icons/linkedin.svg);
}

.icon-whatsapp{
    mask: url(icons/whatsapp.svg);
}

.icon-console{
    mask: url(icons/gamepad-controller.svg);
}

.icon-phone{
    mask: url(icons/phone.svg);
}

.icon-school{
    mask: url(icons/school.svg);
}

.icon-student{
    mask: url(icons/student.svg);
}

.icon-gift{
    mask: url(icons/gift.svg);
}

.icon-birthday{
    mask: url(icons/cake.svg);
}

.icon-web{
    mask: url(icons/www.svg);
}

.icon-mail{
    mask: url(icons/envelope.svg);
}

.icon-calendar{
    mask: url(icons/calendar.svg);
}

.icon-location{
    mask: url(icons/marker.svg);
}

.icon-quill{
    mask: url(icons/quill.svg);
}

.icon-idea{
    mask: url(icons/idea.svg);
}

.icon-code{
    mask: url(icons/coding.svg);
}